@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:300,400,700');

@font-face {
	font-family: 'Aleo';
	src: url('../fonts/aleo-regular-webfont.woff') format('woff'),
	url('../fonts/aleo-regular-webfont.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
}

html {
	scroll-behavior: smooth;
}

body{
	font:400 16px/1 'Josefin Sans', sans-serif;
	background:#5474fd;
	color:#fff;
}

/* Layout */
.ba-container{
	padding-left: 20px;
	padding-right: 20px;
	max-width: 1150px;
}

/* Typography */
h1,h2,h3,h4,h5,h6 {
	margin:0;
}

h2 {
	font:400 36px/1 Aleo;
}

p {
	margin:0;
}

a {
	font:400 16px/1 Aleo;
	color:currentColor;
	text-decoration: none;
}
a,
input[type="submit"],
input[type="button"],
button{
	transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
}

input[type="submit"],
input[type="button"],
button,
.ba-button{
	display: inline-block;
}

input[type="submit"]:hover,
input[type="button"]:hover,
button:hover,
.ba-button:hover{
background:rgba(83, 114, 253, 0.7);
}

input[type="search"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
textarea:focus,
select:focus {
	background:rgba(83, 114, 253, 0.5);
	color:white;
}

input[type="search"]:focus::placeholder{
	color:rgb(255,255,255,0.5);
}

/* Intro */
.ba-intro {
	background:url(../img/background-header.jpg) no-repeat 100%;
	background-size:cover;
	height:100vh;
}

.ba-intro__inf {
	padding: 100px 0;
	display:flex;
	flex-wrap:wrap;
	flex-direction:column;
	text-align: center;
	justify-content: center;
}

.ba-intro h1 {
	text-transform: uppercase;
	font-size: 48px;
	font-weight: 700;
	margin-bottom:7px;
	letter-spacing: 3px;
}

@media screen and (max-width:768px){
	.ba-intro h1 {
		font-size:35px;
	}
}

.ba-intro p {
	font-size: 22px;
	margin-bottom:100px;
	letter-spacing: 5.3px;
}

.ba-search {
    border: 2px solid #fff;
	display:flex;
	margin:0 auto 100px;
	width:80%;
}

input[type="search"] {
    border: none; 
    outline: none; 
	width: 76%;
	padding: 20px;
	text-align: center;
	color:  #999999;
	letter-spacing: 1px;
}

.ba-button {
	font-family:Aleo;
    width:24%;
	border: none;
	border-radius:0;
	background:#5474fd;
	padding: 14px;
	text-transform: uppercase;
}

@media screen and (max-width:768px){
	.ba-search {
		width:100%;
		flex-wrap: wrap;
	}
	input[type="search"] {
		width: 100%;
		padding:20px 10px;
	}
	.ba-button {
		width:100%;
	}
}

.ba-intro__inf a {
	text-align:center;
	width:100%;
	letter-spacing: 1px;
	margin-bottom:3px;
	font:400 14px/1 JosefinSans, sans-serif;
}

.ba-intro__inf a svg{
	display:block;
	margin:10px auto;
}

/* Header */
.ba-header-bar {
	display:flex;
	justify-content:space-between;
	align-items:center;
	padding: 31px 0 26px 0;
}

.ba-logo {
	font-size: 24px;
	font-weight: 700;
	text-transform: uppercase;	
    letter-spacing: 1.3px;
}

.ba-menu {
	display:flex;
	align-items: center;
	margin: 0;
	padding: 0;
	list-style: none;
	text-transform: uppercase;
}

.ba-menu a {
	font:400 14px/1.5 Aleo;
}

.ba-menu a:hover {
	opacity: 0.7;
}

.ba-menu li + li {
	padding-left: 42px;
}
@media screen and (max-width:768px){
	.ba-header-bar, .ba-menu {
		flex-wrap:wrap;
		justify-content: center;
	}
	.ba-logo{
		margin-bottom: 20px;
	}
	.ba-menu li {
		width:100%;
		text-align: center;
	}
	.ba-menu li + li{
		padding: 20px 0 0;
	}
}

/* Choose */
.ba-choose {
	background: url(../img/background-choose.jpg) no-repeat 50%;
	background-size:cover;
}

.ba-choose-main {
	display:flex;
	justify-content:space-between;
	flex-wrap:wrap;
	padding:120px 0;
}

.ba-choose-info {
    width: 60%;
	padding-top: 82px;
    padding-right: 100px;
}

.ba-choose-info h2 {
	margin-bottom:59px;
}

.ba-choose-info p {
	letter-spacing: 0.6px;
	line-height: 1.7;
}

.ba-choose-info p + p {
	margin-top:24px;
	margin-bottom: 65px;
}

.ba-choose-info a {
	padding: 21px 38px;
	background:#5474fd;
	text-transform: uppercase;
	letter-spacing: 1.3px;
}

.ba-choose-info a:hover {
	background:rgba(83, 114, 253, 0.7);
}

.ba-choose-img {
	width: 40%;
	padding-left: 10px;
}

.ba-choose-img img:nth-child(2) {
	float: right;
}

@media screen and (max-width:768px){
	.ba-choose-info, .ba-choose-img {
		width: 100%;
		padding: 0;
	}
	.ba-choose-info{
		margin-bottom: 40px;
	}
}

/* Services */
.ba-services {
	background:#333333;
}

.ba-services__items {
	display:flex;
	justify-content: space-around;
	flex-wrap: wrap;
	align-items:center;
    padding: 86px 0px 114px 5px;
}

.ba-services__items div + div {
	padding-left:40px;
}

@media screen and (max-width:768px){
	.ba-services__items div{
		width:100%;
	}
	.ba-services__items div + div {
		padding:40px 0 0;
	}
}

.ba-services__items svg {
	margin-bottom:16px;
	padding: 20px;
	width:96px;
	height:96px;
}

.ba-services__items p {
	font:400 36px/1 Aleo;
	color:  #e8e8e8;
}

.ba-services__item {
	text-align: center;
}

/* Spain */
.ba-Spain__first {
	background: url(../img/backgroundSpain.jpg) no-repeat 50%;
	background-size:cover;
	padding:229px 0 100px;
}

.ba-Spain__main {
	background-color:  rgba(35, 35, 35, 0.9);
	padding: 44px 30px 70px;
	width:50%;
}

.ba-Spain__main p:first-child {
	color:  #e8e8e8;
	font-size: 20px;
	font-weight:300;
	margin-bottom: 26px;
	letter-spacing: 1px;
}

.ba-Spain__main p {
	color:  #e8e8e8;
	font-weight:300;
	line-height: 1.6;
	letter-spacing: -0.5px;
	margin-bottom: 66px;
}

.ba-Spain__main h3 {
	text-transform: uppercase;
	font-size: 20px;
    letter-spacing: -1.2px;
    margin-bottom: 22px;
}

.ba-Spain__main a {
	background: #5474fd;
	text-transform: uppercase;
	padding:21px 66px;
	letter-spacing: 1px;
}

.ba-Spain__main a:hover {
	background:rgba(83, 114, 253, 0.7);
}

.ba-Spain__second {
	background: url(../img/backgroundSpain2.jpg) no-repeat 50%;
	background-size:cover;
	padding-top:229px;
	padding-bottom: 100px;
}

.ba-Spain__right {
	display:flex;
	justify-content:flex-end;
}

@media screen and (max-width:768px){
	.ba-Spain__main {
		width:100%;
	}
	.ba-Spain__main a {
		padding:21px 40px;
	}
}

/* Feedback */
.ba-feedback {
	background: url(../img/backgroundtourist.jpg) no-repeat 100%;
	background-size:cover;
	padding:120px 0 200px;

}

.ba-feedback h2 {
	text-align:center;
	letter-spacing: 0.5px;
	margin-bottom: 93px;
}

.ba-feedback__opinion {
	display:flex;
	flex-wrap:wrap;
}

.ba-feedback__author {
	width:50%;
	padding-left: 57px;
	padding-top: 51px;
}

@media screen and (max-width:768px){
	.ba-feedback img{
		margin: 0 auto;
	}
	.ba-feedback__author {
		width:100%;
		padding-left: 0;
	}
}

cite {
font-size: 20px;
text-transform: uppercase;
font-style:normal;
}

blockquote {
	margin:42px 0 0;
	color:  #e8e8e8;
	font-weight:300;
	line-height: 1.7;
}

/* Footer */
.ba-footer {
	background:#232323;
	padding: 120px 0 54px;
	text-align:center;
}

.ba-footer-logo {
	font:700 24px/1 JosefinSans, sans-serif;
	text-transform: uppercase;
	letter-spacing: 3px;
	margin-bottom: 14px;
}

.ba-slogan {
	font-weight: 300;
	letter-spacing: 1px;
	margin-bottom: 30px;
}

.ba-socials a + a {
	padding-left: 20px
}